asgiref==3.7.2
beautifulsoup4==4.12.2
bootstrap4==0.1.0
certifi==2023.7.22
cloudinary==1.36.0
confusable-homoglyphs==3.2.0
Django==5.0
django-bootstrap4==23.2
django-registration==3.4
djangorestframework==3.14.0
psycopg2-binary==2.9.9
python-decouple==3.8
pytz==2023.3.post1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
