<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
        <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>
    
            <ul class="list-unstyled">
                <li>
                <a href="#!">About Us</a>
                </li>
                <li>
                <a href="#!">Contact Us</a>
                </li>
                <li>
                <a href="#!">Terms and Conditions</a>
                </li>
                <li>
                <a href="#!">Privacy Policy</a>
                </li>
            </ul>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>
    
            <ul class="list-unstyled">
                <li>
                <a href="#!">FAQ</a>
                </li>
                <li>
                <a href="#!">Shipping</a>
                </li>
                <li>
                <a href="#!">Returns</a>
                </li>
                <li>
                <a href="#!">Order Status</a>
                </li>
            </ul>
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
    
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Account</h5>
    
            <ul class="list-unstyled">
                <li>
                <a href="#!">My Account</a>
                </li>
                <li>
                <a href="#!">Order History</a>
                </li>
                <li>
                <a href="#!">Wish List</a>
                </li>
                <li>
                <a href="#!">Newsletter</a>
                </li>
            </ul>
    
    </div>
            <!-- Grid column -->
    
    <hr class="clearfix w-100 d-md-none">
    
            <!-- Grid column -->
</div> 
    <!-- Copyright content to be  at the bottom-->

    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/"> Mbaya.com</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->