{% extends "base.html" %}

{% block content %}

<main>
    <div class="container">
        <h1>Hello! Welcome to my Calorie App!!</h1>
        <p>Here you can calculate your daily calorie intake and track your daily calorie intake.</p>
        <h2>Food List</h2>
        <ul>
            {% for food in Food %}
            <li>{{ food.name }} - {{ food.calories }} calories</li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_food' %}">Add Food</a>
    </div>
</main>

{% endblock %}
